USE [master]
GO
/****** Object:  Database [SANBAY]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE DATABASE [SANBAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SANBAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LEVANGIANG\MSSQL\DATA\SANBAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SANBAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LEVANGIANG\MSSQL\DATA\SANBAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SANBAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SANBAY]
GO
/****** Object:  User [34567890]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE USER [34567890] FOR LOGIN [nv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [23456789]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE USER [23456789] FOR LOGIN [pc] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [12345678]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE USER [12345678] FOR LOGIN [chu] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE ROLE [PHICONG]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE ROLE [NHANVIEN]
GO
/****** Object:  DatabaseRole [CHUMAYBAY]    Script Date: 7/7/2023 8:36:38 PM ******/
CREATE ROLE [CHUMAYBAY]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [34567890]
GO
ALTER ROLE [db_datareader] ADD MEMBER [34567890]
GO
ALTER ROLE [PHICONG] ADD MEMBER [23456789]
GO
ALTER ROLE [db_datareader] ADD MEMBER [23456789]
GO
ALTER ROLE [CHUMAYBAY] ADD MEMBER [12345678]
GO
ALTER ROLE [db_owner] ADD MEMBER [12345678]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PHICONG]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NHANVIEN]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHUMAYBAY]
GO
/****** Object:  UserDefinedFunction [dbo].[FC_CHECK_CMND]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FC_CHECK_CMND]
(@CMND NCHAR(20)) 
RETURNS INT
AS
BEGIN
	DECLARE @RES INT;
	SET @RES = 0;
	IF EXISTS(SELECT * FROM NGUOI WHERE CMND=@CMND)
		SET @RES = 1;
	RETURN @RES;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FC_CHECK_MADN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FC_CHECK_MADN]
(@MADN NCHAR(20)) 
RETURNS INT
AS
BEGIN
	DECLARE @RES INT;
	SET @RES = 0;
	IF EXISTS(SELECT * FROM DOANHNGHIEP WHERE MA=@MADN)
		SET @RES = 1;
	RETURN @RES;
END;
GO
/****** Object:  Table [dbo].[NGUOI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI](
	[CMND] [nchar](15) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[ISPHICONG] [bit] NOT NULL,
	[ISNHANVIEN] [bit] NOT NULL,
 CONSTRAINT [PK_NGUOI] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_HOTEN_CMND_CHU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_HOTEN_CMND_CHU]
AS
select HOTEN, CMND from nguoi where ISPHICONG = 0 and ISNHANVIEN = 0
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[CMND] [nchar](15) NOT NULL,
	[LUONG] [float] NOT NULL,
	[CALAM] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_HOTEN_CMND_NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_HOTEN_CMND_NHANVIEN]
AS
  select HOTEN, P.CMND FROM NHANVIEN P, NGUOI N WHERE P.CMND = N.CMND
GO
/****** Object:  Table [dbo].[PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHICONG](
	[CMND] [nchar](15) NOT NULL,
	[MASOBANGLAI] [int] NOT NULL,
	[NGAYCAP] [date] NOT NULL,
 CONSTRAINT [PK_PHICONG_1] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_HOTEN_CMND_PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_HOTEN_CMND_PHICONG]
AS
select HOTEN, P.CMND from PHICONG P, NGUOI N WHERE P.CMND = N.CMND
GO
/****** Object:  Table [dbo].[CHU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nchar](15) NULL,
	[MADOANHNGHIEP] [nchar](15) NULL,
 CONSTRAINT [PK_CHU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_HOTEN_ID_CHU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_HOTEN_ID_CHU]
	AS
	select TEN=C.CMND+' - '+HOTEN, ID from chu c, NGUOI n where c.CMND = n.CMND
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[KIEUDANG] [nvarchar](50) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[TRONGLUONG] [int] NOT NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MALOAI_TENLOAI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_MALOAI_TENLOAI]
AS
	select MALOAI,TENLOAI from LOAI
GO
/****** Object:  Table [dbo].[NHACHUA]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACHUA](
	[MANHA] [int] IDENTITY(1,1) NOT NULL,
	[TENNHA] [nvarchar](100) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[VITRI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHACHUA] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MANHA_TENNHA]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_MANHA_TENNHA]
AS
	select MANHA,TENNHA from NHACHUA
GO
/****** Object:  Table [dbo].[DICHVUBAOTRI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUBAOTRI](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DICHVUBAOTRI] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TEN_MA_DICHVU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TEN_MA_DICHVU]
AS
SELECT TENDICHVU, MA FROM DICHVUBAOTRI
GO
/****** Object:  Table [dbo].[DOANHNGHIEP]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHNGHIEP](
	[MA] [nchar](15) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[TENDAIDIEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DOANHNGHIEP] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TENDN_ID_CHU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TENDN_ID_CHU]
	AS
	select TEN=MA+' - '+TEN, ID from chu C, DOANHNGHIEP DN where c.MADOANHNGHIEP = DN.MA
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[MADANGKY] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[MANHA] [int] NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[MADANGKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TENMAYBAY_MADK]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TENMAYBAY_MADK]
	AS
	select TEN, MADANGKY from MAYBAY
GO
/****** Object:  Table [dbo].[BAOTRI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOTRI](
	[MADANGKY] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
	[SOGIO] [int] NOT NULL,
	[NOIDUNG] [nvarchar](255) NULL,
 CONSTRAINT [PK_BAOTRI_1] PRIMARY KEY CLUSTERED 
(
	[MADANGKY] ASC,
	[MADICHVU] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENVE]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENVE](
	[CMND] [nchar](15) NOT NULL,
	[MALOAI] [int] NOT NULL,
 CONSTRAINT [PK_CHUYENVE] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNHANVIENBAOTRI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHANVIENBAOTRI](
	[CMND] [nchar](15) NOT NULL,
	[MADANGKY] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_CTNHANVIENBAOTRI] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MADANGKY] ASC,
	[MADICHVU] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAI](
	[CMND] [nchar](15) NOT NULL,
	[MALOAI] [int] NOT NULL,
 CONSTRAINT [PK_LAI] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOHUU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOHUU](
	[IDCHU] [int] NOT NULL,
	[MADANGKY] [int] NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
 CONSTRAINT [PK_SOHUU_1] PRIMARY KEY CLUSTERED 
(
	[IDCHU] ASC,
	[MADANGKY] ASC,
	[NGAYBATDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTRI_DICHVUBAOTRI] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVUBAOTRI] ([MA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAOTRI] CHECK CONSTRAINT [FK_BAOTRI_DICHVUBAOTRI]
GO
ALTER TABLE [dbo].[BAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTRI_MAYBAY] FOREIGN KEY([MADANGKY])
REFERENCES [dbo].[MAYBAY] ([MADANGKY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAOTRI] CHECK CONSTRAINT [FK_BAOTRI_MAYBAY]
GO
ALTER TABLE [dbo].[CHU]  WITH CHECK ADD  CONSTRAINT [FK_CHU_DOANHNGHIEP1] FOREIGN KEY([MADOANHNGHIEP])
REFERENCES [dbo].[DOANHNGHIEP] ([MA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHU] CHECK CONSTRAINT [FK_CHU_DOANHNGHIEP1]
GO
ALTER TABLE [dbo].[CHU]  WITH CHECK ADD  CONSTRAINT [FK_CHU_NGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[NGUOI] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHU] CHECK CONSTRAINT [FK_CHU_NGUOI]
GO
ALTER TABLE [dbo].[CHUYENVE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENVE_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHUYENVE] CHECK CONSTRAINT [FK_CHUYENVE_LOAI]
GO
ALTER TABLE [dbo].[CHUYENVE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENVE_NHANVIEN1] FOREIGN KEY([CMND])
REFERENCES [dbo].[NHANVIEN] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHUYENVE] CHECK CONSTRAINT [FK_CHUYENVE_NHANVIEN1]
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANVIENBAOTRI_BAOTRI] FOREIGN KEY([MADANGKY], [MADICHVU], [NGAY])
REFERENCES [dbo].[BAOTRI] ([MADANGKY], [MADICHVU], [NGAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI] CHECK CONSTRAINT [FK_CTNHANVIENBAOTRI_BAOTRI]
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANVIENBAOTRI_NHANVIEN] FOREIGN KEY([CMND])
REFERENCES [dbo].[NHANVIEN] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI] CHECK CONSTRAINT [FK_CTNHANVIENBAOTRI_NHANVIEN]
GO
ALTER TABLE [dbo].[LAI]  WITH CHECK ADD  CONSTRAINT [FK_LAI_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LAI] CHECK CONSTRAINT [FK_LAI_LOAI]
GO
ALTER TABLE [dbo].[LAI]  WITH CHECK ADD  CONSTRAINT [FK_LAI_PHICONG] FOREIGN KEY([CMND])
REFERENCES [dbo].[PHICONG] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LAI] CHECK CONSTRAINT [FK_LAI_PHICONG]
GO
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_LOAI]
GO
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_NHACHUA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHACHUA] ([MANHA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_NHACHUA]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[NGUOI] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NGUOI]
GO
ALTER TABLE [dbo].[PHICONG]  WITH CHECK ADD  CONSTRAINT [FK_PHICONG_NGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[NGUOI] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHICONG] CHECK CONSTRAINT [FK_PHICONG_NGUOI]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_CHU] FOREIGN KEY([IDCHU])
REFERENCES [dbo].[CHU] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_CHU]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_MAYBAY] FOREIGN KEY([MADANGKY])
REFERENCES [dbo].[MAYBAY] ([MADANGKY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_MAYBAY]
GO
/****** Object:  StoredProcedure [dbo].[BACK_UP_DATABASE]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BACK_UP_DATABASE]
AS
BEGIN
-- Backup dữ liệu database
	BACKUP DATABASE SANBAY
	TO DISK = 'C:\BackupSQL\SANBAY.bak'
	WITH FORMAT, INIT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_CMND]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHECK_CMND]
@CMND NCHAR(20)
AS
BEGIN
-- Kiểm tra CMND có tồn tại trong table NGUOI
	IF EXISTS(SELECT * FROM NGUOI WHERE CMND=@CMND)
		RETURN 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_CMND_MALOAI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHECK_CMND_MALOAI]
@CMND NCHAR(20),
@MALOAI int
AS
BEGIN
-- Kiểm tra Phi công đã Lái Loại máy bay hay chưa
	IF EXISTS(SELECT * FROM LAI WHERE CMND=@CMND AND MALOAI = @MALOAI)
		RETURN 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_MADN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHECK_MADN]
@MADN NCHAR(20)
AS
BEGIN
-- Kiểm tra mã doanh nghiệp có tồn tại
	IF EXISTS(SELECT * FROM DOANHNGHIEP WHERE MA=@MADN)
		RETURN 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHUMAYBAY_DOANHNGHIEP]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHUMAYBAY_DOANHNGHIEP]
AS
BEGIN
-- Truy vấn Chủ máy bay là Doanh nghiệp
SELECT ID, C.MADOANHNGHIEP, TEN, DIACHI, SDT, TENDAIDIEN FROM CHU C, DOANHNGHIEP D WITH(INDEX(INDEX_TEN_DOANHNGHIEP)) WHERE C.MADOANHNGHIEP = D.MA
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHUMAYBAY_NGUOI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHUMAYBAY_NGUOI]
AS
BEGIN
-- truy vấn Chủ máy bay là Người
SELECT ID, C.CMND, HOTEN, DIACHI, SDT  FROM CHU C, NGUOI N WITH(INDEX(INDEX_HOTEN_NGUOI)) WHERE C.CMND = N.CMND
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_LAI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACH_LAI]
AS
BEGIN
-- Lấy ra Danh sách phi công
DECLARE @PHICONG TABLE(CMND NCHAR(20), HOTEN NVARCHAR(50), SDT NCHAR(20), DIACHI NVARCHAR(100), MASOBANGLAI NCHAR(20), NGAYCAP DATE)
INSERT INTO @PHICONG EXEC SP_DANHSACH_PHICONG

-- Truy vấn Danh sách phi công Lái Loại máy bay
SELECT P.CMND, HOTEN,MASOBANGLAI, L.MALOAI, TENLOAI
FROM @PHICONG P, LAI , LOAI L
WHERE P.CMND = LAI.CMND AND L.MALOAI = LAI.MALOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DANHSACH_NHANVIEN]
AS
BEGIN
-- Truy vấn danh sách nhân viên
select N.CMND, HOTEN, SDT, DIACHI, LUONG, CALAM from NGUOI N WITH(INDEX(INDEX_HOTEN_NGUOI)), NHANVIEN NV WHERE N.CMND  = NV.CMND 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DANHSACH_PHICONG]
AS
BEGIN
-- Truy vấn danh sách Phi công
select N.CMND, HOTEN, SDT, DIACHI, MASOBANGLAI, NGAYCAP from NGUOI N WITH(INDEX(INDEX_HOTEN_NGUOI)), PHICONG PC WHERE N.CMND  = PC.CMND
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOIMATKHAU]
@MatKhauCu nchar(20),
@MatKhauMoi nchar(20),
@TenLogin nchar(30)
AS
BEGIN
-- SP đổi mật khẩu
EXEC sp_password @MatKhauCu, @MatKhauMoi, @TenLogin
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_DN_Tu_Login]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_Lay_Thong_Tin_DN_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
-- Lấy thông tin đăng nhập từ tên Login
DECLARE @UID INT
DECLARE @MAGV NVARCHAR(100)
SELECT @UID= uid , @MAGV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT CMND= @MAGV, 
       HOTEN = (SELECT HOTEN FROM dbo.NGUOI WHERE CMND=@MAGV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT top 1 groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_NHANVIEN_BAOTRI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NHANVIEN_BAOTRI]
@CMND nchar(20)
AS
BEGIN
-- Lấy ra các đợt bảo trì đang được chỉ định của nhân viên đăng nhập
SELECT 
TENMAYBAY = (SELECT TEN FROM MAYBAY WHERE MADANGKY = B.MADANGKY),
TENDICHVU = (SELECT TENDICHVU FROM DICHVUBAOTRI WHERE MA = B.MADICHVU),
B.NGAY,
SOGIO,
NOIDUNG
FROM CTNHANVIENBAOTRI C, BAOTRI B
WHERE C.CMND = @CMND AND B.MADANGKY = C.MADANGKY AND B.MADICHVU = C.MADICHVU AND B.NGAY = C.NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PHICONG_LAI_MAYBAY]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PHICONG_LAI_MAYBAY]
@CMND nchar(20)
AS
BEGIN
-- Truy vấn tất cả các máy bay mà phi công đăng nhập có thể lái
select 
MADANGKY, TEN,
M.MALOAI,TENLOAI = (SELECT TENLOAI FROM LOAI WHERE LOAI.MALOAI = M.MALOAI)
, MANHA ,
TENNHACHUA= (SELECT TENNHA FROM NHACHUA N WHERE N.MANHA = M.MANHA)
from LAI, MAYBAY M 
where LAI.CMND = @CMND AND LAI.MALOAI = M.MALOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SOHUU_DOANHNGHIEP]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SOHUU_DOANHNGHIEP]
AS
BEGIN
-- Lấy danh sách doanh nghiệp
DECLARE @DOANHNGHIEP TABLE(ID INT, MADN NCHAR(20), TEN NVARCHAR(50), DIACHI NVARCHAR(100), SDT NCHAR(20), TENDAIDIEN NVARCHAR(50))
INSERT INTO @DOANHNGHIEP EXEC SP_CHUMAYBAY_DOANHNGHIEP

-- Lấy ra máy bay mà các doanh nghiệp đang sở hữu
SELECT S.IDCHU, S.MADANGKY, M.TEN, MADN, DN.TEN, NGAYBATDAU
FROM @DOANHNGHIEP DN, SOHUU S, MAYBAY M
WHERE S.IDCHU = DN.ID AND S.MADANGKY = M.MADANGKY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SOHUU_NGUOI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SOHUU_NGUOI]
AS
BEGIN
-- Lấy ra danh sách chủ là người
DECLARE @NGUOI TABLE(ID INT, CMND NCHAR(20), TEN NVARCHAR(50), DIACHI NVARCHAR(100), SDT NCHAR(20))
INSERT INTO @NGUOI EXEC SP_CHUMAYBAY_NGUOI

-- Lấy ra máy bay mà người chủ đang sở hữu
SELECT S.IDCHU, S.MADANGKY, M.TEN, CMND, N.TEN, NGAYBATDAU
FROM @NGUOI N, SOHUU S, MAYBAY M
WHERE S.IDCHU = N.ID AND S.MADANGKY = M.MADANGKY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_CHU_DOANHNGHIEP]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa doanh nghiệp
CREATE proc [dbo].[SP_SUA_CHU_DOANHNGHIEP]
@MaDN nchar(20),
@Ten nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@TenDaiDien nvarchar(50)
AS
begin
UPDATE DOANHNGHIEP SET MA=@MaDN, TEN=@Ten, DIACHI = @DiaChi, SDT=@Sdt, TENDAIDIEN = @TenDaiDien WHERE MA = @MaDN
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_CHU_NGUOI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa chủ là người
CREATE proc [dbo].[SP_SUA_CHU_NGUOI]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20)
AS
begin
UPDATE NGUOI SET HOTEN=@HoTen, DIACHI = @DiaChi, SDT=@Sdt WHERE CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUA_NHANVIEN]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@Luong float,
@CaLam nvarchar(30)
AS
begin
-- sửa nhân viên(Vì thông tin nhân viên thuộc 2 bảng NGUOI và NHANVIEN)
UPDATE NGUOI SET HOTEN=@HoTen, DIACHI = @DiaChi, SDT=@Sdt WHERE CMND = @CMND
UPDATE NHANVIEN SET LUONG=@Luong, CALAM = @CaLam WHERE CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUA_PHICONG]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@MaSoBangLai nvarchar(20),
@NgayCap date
AS
begin
-- Sửa phi công (Vì thông tin phi công thuộc 2 bảng NGUOI và PHICONG)
UPDATE NGUOI SET HOTEN=@HoTen, DIACHI = @DiaChi, SDT=@Sdt WHERE CMND = @CMND
UPDATE PHICONG SET MASOBANGLAI=@MaSoBangLai, NGAYCAP = @NgayCap WHERE CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TAIKHOAN_NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAIKHOAN_NHANVIEN]
@CMND NCHAR(20)
AS
BEGIN
-- Lấy ra thông tin nhân viên đăng nhập
SELECT NV.CMND, HOTEN, SDT, DIACHI, LUONG, CALAM
FROM NHANVIEN NV, NGUOI N 
WHERE NV.CMND = @CMND AND N.CMND = NV.CMND
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAIKHOAN_PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAIKHOAN_PHICONG]
@CMND NCHAR(20)
AS
BEGIN
-- Lấy ra thông tin phi công đăng nhập
SELECT P.CMND, HOTEN, MASOBANGLAI, NGAYCAP, SDT, DIACHI 
FROM PHICONG P, NGUOI N 
WHERE P.CMND = @CMND AND N.CMND = P.CMND
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  -- Tạo login -> tạo user -> thêm user vào role
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'SANBAY'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
    RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CHU_DOANHNGHIEP]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_CHU_DOANHNGHIEP]
@MaDN nchar(20),
@Ten nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@TenDaiDien nvarchar(50)
AS
begin
-- Thêm Doanh nghiệp -> Thêm chủ
insert into DOANHNGHIEP VALUES(@MaDN, @Ten, @DiaChi, @Sdt, @TenDaiDien)
insert into CHU(MADOANHNGHIEP) VALUES(@MaDN)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CHU_NGUOI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_CHU_NGUOI]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20)
AS
begin
-- Thêm người -> thêm Chủ (mặc định Chủ isPhiCong = 0 và isNhanVien = 0)
insert into NGUOI VALUES(@CMND, @HoTen, @DiaChi, @Sdt, 0, 0)
insert into CHU(CMND) VALUES(@CMND)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_NHANVIEN]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@Luong float,
@CaLam nvarchar(50)
AS
begin
-- Thêm người -> thêm nhân viên(nhân viên isNhanVien = 1)
insert into NGUOI VALUES(@CMND, @HoTen, @DiaChi, @Sdt, 0, 1)
insert into NHANVIEN VALUES(@CMND, @Luong, @CaLam)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_PHICONG]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@MaSoBangLai nvarchar(20),
@NgayCap date
AS
begin
-- Thêm Người -> thêm phi công (isPhiCong = 1)
insert into NGUOI VALUES(@CMND, @HoTen, @DiaChi, @Sdt, 1, 0)
insert into PHICONG VALUES(@CMND, @MaSoBangLai, @NgayCap)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CHU_DOANHNGHIEP]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_CHU_DOANHNGHIEP]
@MaDN nchar(20)
AS
begin
-- Xóa chủ trước -> xóa doanh nghiệp
delete CHU WHERE MADOANHNGHIEP = @MaDN
delete DOANHNGHIEP WHERE MA = @MaDN
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CHU_NGUOI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_CHU_NGUOI]
@CMND nchar(20)
AS
begin
-- Xóa chủ -> xóa người
delete CHU WHERE CMND = @CMND
delete NGUOI WHERE CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_LAI]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_LAI]
@CMND nchar(20),
@MaLoai int
AS
BEGIN
-- Hủy phi công lái loại máy bay
	DELETE LAI WHERE CMND = @CMND AND MALOAI = @MaLoai
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NHANVIEN]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_NHANVIEN]
@CMND nchar(20)
AS
begin
-- Xóa nhân viên -> xóa người
delete NHANVIEN WHERE CMND = @CMND
delete NGUOI WHERE CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_PHICONG]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_PHICONG]
@CMND nchar(20)
AS
begin
-- Xóa phi công -> xóa người
delete PHICONG WHERE CMND = @CMND
delete NGUOI WHERE CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_SOHUU]    Script Date: 7/7/2023 8:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_SOHUU]
@IdChu int,
@MaDK int
AS
BEGIN
-- Hủy người chủ không được sở hữu máy bay nữa
	DELETE SOHUU WHERE IDCHU = @IdChu AND MADANGKY = @MaDK
END
GO
USE [master]
GO
